.sidebar {
    border: 1px solid #0000002b;
    border-radius: 10px;
    margin: 5px;
    height: calc(100vh - 65px);
    padding-bottom: 10px !important;
    display: grid;
    grid-template-rows: 40px auto;
    min-width: 384px;
}

@media (min-width: 1200px){
    .sidebar {
        top: 60px;
        position: sticky;
    }
}

.countries {
    overflow: auto;
}

.country {
    min-height: 25px;
    display: block;
    padding: 0 5px 0 5px;
    color: #0563c1;
    /*font-family: Candara;*/
    font-family: Malgun Gothic;
}

    .country:hover {
        background-color: #efefef;
        color: #065eb6;
    }

    .country.selected {
        background-color: #efefef;
    }

.main-content {
    font-size: 14px;
    margin: 5px 5px 5px 0;
}

.main-border {
    border: 1px solid #0000002b;
    border-radius: 10px;
}

.main-p {
    padding: 1rem 3rem 1rem 3rem;
}

.info {
    min-height: 235px;
}

    .visa:last-child {
        margin-bottom: 0px;
    }

    .info i {
        color: #800000;
        font-size: 18px;
    }

.visa {
    border: 1px solid #0000002b;
    border-radius: 10px;
    padding: 5px 5px 5px 10px;
    margin-bottom: 5px;
}

.visa-header-num {
    font-size: 35px;
    margin-right: 10px;
    font-weight: bold;
}

.visa-header-btn {
    margin-right: 13px;
    margin-top: 7px;
}

.doc-desc {
    font-size: 12px;
}

.no-info {
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
}

.w-100 {
    width: 100%;
}

.enter {
    min-width: 300px;
}

.new-account {
    font-size: 16px;
}

.username {
    color: #00ffc6;
    margin-right: 5px;
}

.fa-sign-out {
    padding: 3px;
}

.success-mess {
    color: green;
}

.has-error {
    border-color: red;
}

    .has-error:focus {
        border-color: red;
        box-shadow: 0 0 0 0.1rem red;
    }

/**************/
body {
}

nav {
    background-color: #f9f3bf;
    position: sticky !important;
    z-index: 100;
    top: 0px;
    height: 55px;
}

a:hover {
    text-decoration: none;
}

.row {
    margin: 0px;
}

.navbar-light a {
    color: white;
    font-size: 18px;
}
