.sidebar {
    top: 59px;
    position: sticky;
    /*background-color: #fbfbfb;*/
}

.countries {
    height: calc(100vh - 92px);
    overflow: auto;
    text-align: center;
}

.country {
    height: 25px;
    display: block;
    padding: 0 5px 0 5px;
}

    .country:hover {
        text-decoration: none;
        background-color: #efefef;
    }

    .country.selected {
        background-color: #efefef;
    }

.main-content {
    font-size: 14px;
}

.info {
    min-height: 500px;
    padding: 20px;
}

    .info i {
        color: red;
    }

.doc-desc {
    font-size: 12px;
}

.no-info {
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
}

.w-100 {
    width: 100%;
}

/**************/
body {
}

nav {
    background-color: #f9f3bf;
    position: sticky !important;
    z-index: 100;
    top: 0px;
    height: 55px;
}

.row {
    margin: 0px;
}

a {
    color: #1d14f5;
}

    a:hover {
        color: #06008e;
    }
