.sidebar {
    background-color: #f4b6b6;
    position: sticky;
}

.search {
}

.countries {
    background-color: #e7eeee;
    height: calc(100vh - 113px);
    overflow: auto;
    text-align: center;
}

.countries a {
    display: block;
    padding: 0 5px 0 5px;
}

.countries a:hover {
    text-decoration: none;
}

.main-content {
    background-color: #bababa;
}

/**************/

nav {
    background-color: #f9f3bf;
}

.row {
    margin: 0px;
}
