@model String

@{
    Layout = "../Shared/_LayoutUser.cshtml";
}

<div class="ml-auto mr-auto enter">
    <h2>Вход</h2>
    @using (Html.BeginForm(
    "Login", "User", method: FormMethod.Post,
    routeValues: new { returnUri = Request.QueryString["ReturnUrl"] }
))
    {
        if (!String.IsNullOrEmpty(Model))
        {
            <span class="success-mess">
                @Model
            </span>
        }
        @Html.ValidationSummary()
        <div class="form-group">
            <label for="login">Логин</label>
            <input type="text" class="form-control" id="login" name="login" placeholder="Введите логин">
        </div>
        <div class="form-group">
            <label for="password">Пароль</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Введите пароль">
        </div>

        <div>
            @Html.ActionLink(
                "Регистрация", "CreateAccount",
                new { },
                new { @class = "d-inline-block mt-2 new-account" }
            )
            <button type="submit" class="btn btn-primary float-right">Вход</button>
        </div>
    }
</div>
