@model BaseSidebarViewModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>
<body>

    <div class="wrapper">
        @{ Html.RenderAction("Navbar", "Navigation"); }

        <div class="container-fluid row p-0">
            <div class="col-lg-3 p-0 sidebar">
                @{ Html.RenderAction("Sidebar", "Navigation", new { selectedCountryId = (Model != null ? Model.SelectedCountryId : null) }); }
            </div>
            <main class="main-content col p-0">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/script.js"></script>
</body>
</html>
