<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>
<body>

    <div class="wrapper">
        @{ Html.RenderAction("Navbar", "Navigation"); }

        <div class="container-fluid row p-0">
            <div class="sidebar col-3 p-0">
                @{ Html.RenderAction("Sidebar", "Navigation"); }
            </div>
            <main class="main-content col-9 p-2">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/script.js"></script>
</body>
</html>
