@{
    Layout = null;
    UserDto user = Session["User"] as UserDto;
}

<nav class="navbar navbar-light bg-secondary">
    <ul class="navbar-nav navbar-brand">
        <li>
            @Html.ActionLink("Добавить визу", "Add", "Visa", new { }, new { @class = "text-light" })
        </li>
    </ul>
    @if (user != null)
    {
        <ul class="navbar-nav ml-auto">
            <li class="nav-item navbar-brand">
                <span class="text-primary">@(user.Login)</span>
                @Html.ActionLink(
                    " ", "Logout", "User",
                    new { },
                    new { @class = "fa fa-sign-out text-light" }
                )
            </li>
        </ul>
    }
</nav>