@model IEnumerable<Country>

@{
    Layout = null;
}

<div class="search p-2">
    Search goes here...
</div>
<hr />
<div class="countries">
    @foreach (var item in Model)
    {
        <a href="#" class="country">@item.Name</a>
    }
</div>