@model CountriesViewModel

@{
    Layout = null;
}

<div class="sidebar">
    <h4 class="text-center m-1">Перечень виз</h4>
    <div class="countries">
        @foreach (var item in Model.Countries)
        {
            @Html.ActionLink(
                item.Name, "Info", "Visa",
                new { countryId = item.Id },
                new { @class = $"country {(item.Id == Model.SelectedCountryId ? "selected" : "")}" }
            )
        }
    </div>
</div>
